*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(89,187,244);
}

#jogo{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden; /*Não mostra a animação das paredes a sair dos limites do jogo*/
    background-color: white;
    position: relative;
    top: 100px;
}

#parede{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px; /* serve para mexer as parede para a direita*/
    animation: parede 2s infinite linear;
}

@keyframes parede {
    0%{left:400px}
    100%{left:-50px}
}

#espaco{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px; /* serve para mexer o espaço para a direita ao mesmo tempo que a parede*/
    top: -500px;
    animation: parede 2s infinite linear;
}

#passaro{
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}