html{
    height: 100%;
}

h1{
    text-align: center;
    font-size: 40px;
}

table{
    border: 5px solid transparent;
    /*border: 5px solid rgb(255, 255, 255);*/
    position: relative;
    left: 100px;
    right: 100px;
    top: 100px;
}

th{
    font-size: 30px;
    border: 5px solid transparent;
    /*border: 5px solid rgb(255, 255, 255);*/
}

td{
    border: 5px solid transparent;
    /*border: 5px solid rgb(255, 255, 255);*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}



body {
    background: linear-gradient(142deg, rgba(89,187,244,1), rgba(132,0,255,1));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}

