* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(200, 50%, 70%);
}

p{ 
    text-align: center;
    font-size: 50px;
    position: relative;
    left: 250px;
}

canvas {
    background-color: hsl(0,100%,100%);
    margin-top: 32px;
    border-style: solid;
    position: relative;
    top: 100px;
    right: 100px;
}

#voltar {
    position: relative;
    right: 300px;
    top: 50px;
}